.about {
  max-width: 1140px;
  height: 100%;
  margin: auto;
  .about-titile {
    color: #2c3135;
    padding: 4rem 0 1rem 0;
    font-size: 1rem;
    text-align: center;
  }
  h1 {
    margin-bottom: 6rem;
    text-align: center;
  }
  .about-container {
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 5%;
    .about-me {
      width: 100%;
      display: grid;
      place-items: center;
      aspect-ratio: 1/1.7;
      border-radius: 2rem;
      background: linear-gradient(45deg, #162e4e, #96b3cf);
      .about-me-img {
        width: 100%;
        border-radius: 2rem;
        overflow: hidden;
        transform: rotate(-8deg);
        transition: 0.7s;
        &:hover {
          transform: rotate(0);
        }
        img {
          width: 100%;
        }
      }
    }
    .about-content {
      p {
        margin: 2rem 0 2.6rem;
        line-height: 1.4;
      }
      .about-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        .about-card {
          background: #2c3135;
          border: 2px solid transparent;
          border-radius: 0.5rem;
          padding: 1.6rem;
          text-align: center;
          transition: 0.7s;
          &:hover {
            background: transparent;
            border-color: #2c3135;
            cursor: default;
          }
          .about-ion {
            color: #4db5ff;
            font-size: 1.4rem;
            margin-bottom: 1rem;
          }
          h5 {
            font-size: 0.95rem;
            color: #b6b7b8;
            margin-bottom: 0.3rem;
          }
          small {
            font-size: 0.7rem;
            color: #717174;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .about {
    .about-container {
      grid-template-columns: 1fr;
      gap: 0;
      .about-me {
        width: 50%;
        margin: 2rem auto 4rem;
        aspect-ratio: 1/1;
        .about-me-img {
          height: 450px;
          object-fit: scale-down;
        }
      }
      .about-content {
        .about-cards {
          width: 90%;
          margin: auto;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        p {
          margin: 1rem 0 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .about {
    .about-container {
      grid-template-columns: 1fr;
      .about-me {
        width: 65%;
        margin: 0 auto 3rem;
        .about-me-img {
        }
      }
      .about-content {
        .about-cards {
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
          .about-card {
            text-align: center;
          }
        }
        p {
          margin: 1.5rem 0;
        }
      }
    }
  }
}
