.projects {
  .project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
  }
}
.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.project-card {
  background: #2c3135;
  border-radius: 0.5rem;
  img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .pro-title {
    color: #b6b7b8;
    padding: 1rem;
  }
  .pro-details {
    padding: 1rem;
    p {
      color: #717174;
      padding-bottom: 1rem;
      text-align: justify;
    }
    .pro-details-comm {
      height: 120px;
      width: 100%;
      margin: 1rem 0;
      line-height: 1.6;
      border-radius: 0.5rem;
      color: #fff;
      // background: rgba($color: #2b2b2b, $alpha: 1);
      padding: 1rem 0;
      overflow-y: scroll;
      html::-webkit-scrollbar {
        width: 10px;
      }
      html::-webkit-scrollbar {
        background: black;
      }

      html::-webkit-scrollbar-track {
        background: rgb(117, 117, 117);
        // track styling
      }

      html::-webkit-scrollbar-thumb {
        background: rgb(117, 117, 117);
        // thumb styling
      }
    }
    .pro-btns {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0 0 0;
      border-top: 1px solid #393c42;
      a {
        width: 100%;
        margin-right: 0.4rem;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn {
        padding: 0.5rem 1rem;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 740px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
