.work {
  .work-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
  }
}
.work-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.work-card {
  border: 1px solid #eee;
  color: #eee;
  text-align: center;
  padding: 1rem;
  transition: 0.7s;
  .bar {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
  }
  .work-title {
  }
  .work-details {
    .work-btns {
      display: flex;
    }
  }
}
