.work {
  .work-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
  }
}
.work-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.work-card {
  // border: 2px solid #eee;
  color: #eee;
  text-align: center;
  transition: 0.7s;
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.6rem 1rem;
  span {
    position: absolute;
    background: #ffd501;
    &:nth-child(1) {
      left: 0;
      top: 0;
      width: 0;
      height: 3px;
      transition: width 0.1s;
    }
    &:nth-child(2) {
      right: 0;
      top: 0;
      width: 3px;
      height: 0;
      transition: height 0.1s linear 0.1s;
    }
    &:nth-child(3) {
      right: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      transition: width 0.1s linear 0.2s;
    }
    &:nth-child(4) {
      left: 0;
      bottom: 0;
      width: 3px;
      height: 0;
      transition: height 0.1s linear 0.3s;
    }
  }
  &:hover {
    span:nth-child(1) {
      width: 100%;
    }
    span:nth-child(2) {
      height: 100%;
    }
    span:nth-child(3) {
      width: 100%;
    }
    span:nth-child(4) {
      height: 100%;
    }
  }
  .bar {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: flex;
  }
  .work-title {
  }
  .work-details {
    text-align: left;
    line-height: 1.4;
    .work-text {
      color: #eeeeee;
    }
    .work-details-comm {
      margin-top: 0.6rem;
    }
    .work-btns {
      display: flex;
      margin-top: 1rem;
      a {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .work-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 740px) {
  .work-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
